/***************************** Pantalla de carga *****************************/
.spinner-wrapper {
    background-color: #f3f3f3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

/****************************** NAVBAR ******************************/
.nav-primary-color {
    background-color: #C33232;
}

.navbar {
    height: 70px;
    z-index: 1050;
}

/****************************** MEJORAS ***************************/
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.m-color-bg {
    background-color: #abaaaa;
}
/**************************** MAIN  ********************************/
.forum-e {
    width: 100%;
    max-width: 647px;
    height: auto;
    background-color: #f3f3f3;
    padding: 1rem;
    border-radius: 8px;
    /* text-align: center; */
}



/****************************** FOOTER ******************************/
.footer-basico {
    padding: 20px 0;
    background-color: #8272d0;
    color: #ffffff;
    text-align: center;
    width: 100%;
}

.footer-basico .social {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-basico .social > ion-icon {
    font-size: 24px;
    width: 30px;
    height: 30px;
    color: #E2E2B6;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.footer-basico .social > ion-icon:hover {
    opacity: 1;
}

.footer-basico .copyright {
    margin-top: 10px;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .forum-e {
        width: 90%;
        height: auto;
        padding: 1rem;
    }

    .footer-basico .social {
        gap: 10px;
    }

    .footer-basico .social > ion-icon {
        font-size: 20px;
    }
}
