.form-register{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #c23737e7;
    width: 750px;
    height: 380px;
    border-radius: 2em;
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.5)
}

.fsn{
    font-size: .5em;
}
