main.wrapper{
    background: linear-gradient(to right, #3a2fcf, #1a0a9e, #2b2933);
}

.form-register {
    margin: 100px auto;
    padding: 20px;
    background-color: #c23737d2;
    width: 750px;
    height: auto;
    border-radius: 3em;
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.5);

    @media (max-width: 992px) {
        width: 80%;
        padding: 20px;
    }

    @media (max-width: 768px) {
        width: 90%;
        padding: 15px;
    }

    @media (max-width: 576px) {
        width: 100%;
        padding: 10px;
    }
}

.fsn {
    font-size: .5em;
}

.campo {
    position: relative;

    i {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
    }

    input {
        padding-left: 30px;
    }
}

@media (max-width: 992px) {
    .form-register .col-10, .form-register .col-2 {
        width: 100%;
    }

    .form-register .col-2 {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .form-register .campo {
        margin-bottom: 15px;
    }

    .form-register .alert {
        font-size: 0.8em;
    }

    .form-register .d-flex {
        flex-direction: column;
        align-items: center;
    }

    .form-register .btn {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .form-register .campo {
        margin-bottom: 15px;
    }

    .form-register .alert {
        font-size: 0.8em;
    }

    .form-register .d-flex {
        flex-direction: column;
        align-items: center;
    }

    .form-register .btn {
        width: 100%;
        text-align: center;
    }
}