<main class="container">
    <div class="form-register mb-4">
        <h2 class="kanit-regular">Estamos encantados de recibirte Registrate ya!!</h2>
        <form class="row g-3">
            <div class="col-10">
                <div class="row">
                    <div class="col-md-6">
                        <i class="bi bi-person"></i>
                        <input type="text" class="form-control kanit-regular" id="inputFirstName" placeholder="Primer Nombre">
                    </div>
                    <div class="col-md-6">
                        <i class="bi bi-person"></i>
                        <input type="text" class="form-control kanit-regular" id="inputLastName" placeholder="Segundo Nombre">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="date" class="form-control kanit-regular" id="inputBirthday"
                            placeholder="Coloca tu fecha de nacimiento">
                    </div>
                    <div class="col-md-6">
                        <i class="bi bi-globe-americas"></i>
                        <select id="inputCountry" class="form-select kanit-regular">
                            <option selected>Seleccione un país...</option>
                            <option value="Argentina">Argentina</option>
                            <option value="Bolivia">Bolivia</option>
                            <option value="Brasil">Brasil</option>
                            <option value="Chile">Chile</option>
                            <option value="Colombia">Colombia</option>
                            <option value="Ecuador">Ecuador</option>
                            <option value="Guyana">Guyana</option>
                            <option value="Paraguay">Paraguay</option>
                            <option value="Perú">Perú</option>
                            <option value="Surinam">Surinam</option>
                            <option value="Uruguay">Uruguay</option>
                            <option value="Venezuela">Venezuela</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <i class="bi bi-envelope-at"></i>
                        <input type="email" class="form-control kanit-regular" id="inputEmail4" placeholder="Correo">
                    </div>
                    <div class="col-md-6">
                        <i class="bi bi-key"></i>
                        <input type="password" class="form-control kanit-regular" id="inputPassword4" placeholder="Contraseña">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <i class="bi bi-key"></i>
                        <input type="repeatPassword" class="form-control kanit-regular" id="inputPassword4"
                            placeholder="Confirma la contraseña">
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="row-md-4 pt-1">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label kanit-light" for="gridCheck">
                            Check me out
                        </label>
                    </div>
                </div>
                <div class="row-md-4">
                    <button type="submit" class="btn btn-outline-warning">
                        <span class="kanit-light">Registrarse</span>
                    </button>
                </div>
                <div class="row-md-4">
                    <div class="alert alert-info fsn" role="alert">
                        La contraseña debe tener al menos 8 caracteres.
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>