<nav class="navbar nav-primary-color border-bottom border-danger fixed-top" style="height: 70px;">
    <div class="container">
      <a class="navbar-brand d-flex justify-content-center align-items-center" href="#">
        <img src="assets/images/logo/logo-rock.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top me-3">
        <span class="kanit-regular">Rock Latam</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end menu-color" id="offcanvasDarkNavbar">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title">Menu</h5>
          <button type="button" class="btn-close btn-close-dark bg-warning" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body menu-color">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item"><a class="nav-link" routerLink="/">HOME</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/bandas">BANDAS</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/ofertas">OFERTAS</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/foro">FORO</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/login">LOGIN</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>