<div class="wrapper-login">
<main >
    <div class="kanit-light d-grid gap-2 d-md-flex justify-content-end buttom-return">
      <a routerLink="/home" ><button type="button" class="btn btn-danger btn-lg">Volver</button></a>
    </div>
    
    <div class="conten-page h-100">
      <div class="container d-flex justify-content-center h-100 pt-3">
        <div class="login">
          <div class="w-100 pt-4 pb-1 mx-auto text-center">
            <img class="imageLogo" src="assets/images/logo/logo-rock.png" alt="logo">
          </div>
          
          <div class="d-flex justify-content-center">
            <form class="mt-4">
              <div class="input-group mb-3">
                <input type="text" name="usuario" class="form-control kanit-light" placeholder="Usuario">
              </div>
              
              <div class="input-group mb-3">
                <input type="password" name="contrasenia" class="form-control kanit-light" placeholder="Contraseña">
              </div>
              
              <div class="form-check">
                <input class="kanit-light form-check-input" type="checkbox" value="" id="recordarLogin">
                <label class="kanit-light form-check-label" for="recordarLogin">
                  Recordarme
                </label>
              </div>
              
              <div class="row mt-4">
                <div class="col-8">
                  <button type="button" name="ingreso" class="btn btn-outline-warning">Iniciar Sesion</button>
                </div>
                <div class="col-4">
                  <div class="d-flex justify-content-end">
                    <button type="button" name="registrar" class="btn btn-outline-light">Registrarse</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</main>
</div>
  <!-- Elementos de animación en un contenedor separado -->
<div class="animation-wrapper">
    <div class="box">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
</div>
  