<main class="wrapper min-vh-100">
    <div class="container py-5 my-5">
        <div class="row">
            <div class="popularTopics col-6">
                <div class="row ">
                    <div class="col-6">
                        <h3>Temas Populares</h3>
                    </div>
                    <div class="col-6"><i class="bi bi-star-fill"></i></div>
                </div>
                <div class="card">
                    <div class="section-start">
                        <img src="assets/images/artistas/pedro-suarez-vertiz.jpg" class="card-img-top"
                            alt="theme-popular">
                    </div>
                    <div class="card-body">
                        <div class="section-center">
                            <h5 class="card-title kanit-regular">Tema foro 1</h5>
                            <p class="card-text mb-2 kanit-light">Some quick example text to build on the card title and make up the
                                bulk of
                                the card's content.</p>
                            <a routerLink="" class="btn btn-primary buttom-details"
                                style="--bs-btn-padding-y: .22rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .70rem;">Ver detalle</a>
                        </div>
                        <div class="section-end kanit-medium">
                            <div class="d-flex align-items-center"><i class="bi bi-chat-left-text me-1 "></i> Comentarios</div>
                            <div class="d-flex align-items-center"><i class="bi bi-person me-1 "></i> Autor</div>
                            <div class="d-flex align-items-center"><i class="bi bi-fire me-1 "></i> Popularidad</div>
                        </div>
                    </div>
                </div>
                
                
            </div>
            <div class="search col-6">
                <h3>Hello</h3>
                <h3>Hello</h3>
                <h3>Hello</h3>
                <h3>Hello</h3>
                <h3>Hello</h3>
                <h3>Hello</h3>
                <h3>Hello</h3>
                <h3>Hello</h3>
                <h3>Hello</h3>
                <h3>Hello</h3>
                <h3>Hello</h3>
                <h3>Hello</h3>
                <h3>Hello</h3>
                <h3>Hello</h3>
                <h3>Hello</h3>
                <h3>Hello</h3>
                <h3>Hello</h3>
                <h3>Hello</h3>
                <h3>Hello</h3>
            </div>
        </div>

    </div>
</main>